---
import { getCollection, render } from "astro:content";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const moments = await getCollection("moments");
moments.sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf());

const renderedMoments = await Promise.all(
	moments.map(async (moment) => {
		const { Content } = await render(moment); // 也可以试 moment.render()
		return {
			...moment,
			Content,
		};
	}),
);
---

<MainGridLayout>
  <h1>relics</h1>

  {renderedMoments.length === 0 ? (
    <p>宇宙寂寥，目前还没有捕捉到任何信号。</p>
  ) : (
    renderedMoments.map((moment) => (
      <article>
        <div>{moment.data.published.toLocaleDateString()}</div>
        <moment.Content />
      </article>
    ))
  )}
</MainGridLayout>